#top-about {
    display: flex;
    margin-top: 3%;


#about-img--wrapper {
    opacity: 75%;
}}

#about-text {
    position: relative;
    width: 100%;
    height: 300px;
    left: -16%;
    top: 50px;
}

#about-text h1 {
    font-size: 48px;
}