footer {
    margin-top: 5%;
  width: 100%;
  height: 150px;
  background-color: #739687;
}

#inner-footer {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#name-section {
    display: flex;
    align-content: start;
    height: 80%;
    width: fit-content;
}

#header-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}

#links-header {
    height: 30%;
    width: 20%;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid #5a494e;
}

#social-links-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    max-height: 70%;
}

.link-container{
    height: 50%;
}

.social-icon {
    width: 24px;
    height: 24px;
}