#banner-projects {
    width: 120%;
    height: 170px;
    display: flex;
    transition: 650ms ease-in-out;
}

#banner-projects:hover {
    height: 500px;
    transition: 650ms ease-in-out;
}

#banner-projects-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: url("../assets/eats-now-img.jpg") no-repeat left center;
}

#banner--wrapper h1 {
    font-size: 48px;
    position: absolute;
    top: 10%;
    left: 15%;
    text-shadow: black 2px 2px 2px;
    transform: translate(-50%, -50%);
}

#projects-aside {
    padding: 20px;
    height: 60vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    border-right: black solid 2px;
}

#top-aside h2 {
    font-size: 36px;
    text-align: right;
}

#top-aside h3 {
    font-size: 24px;
    text-align: right;
}

#projects-aside--wrapper {
    display: flex;
}

#project-description--wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#project-title {
    font-size: 48px;
    text-align: left;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 55%;
    max-height: 20%;
}

.skill {
    background-color: #7396875d;
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    color: #545454;
    letter-spacing: 1.2px;
}

.skill:hover {
    transform: scale(1.1);
    font-weight: bold;
}

#description--wrapper {
    width: 55%;
}

#web-project-wrapper {
    display: flex;
}